body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-brand{
  background-color: #111430;
  color: #fff;
  width: 134px;
  height: 45px;
  border: none;
  border-radius: 5px;
}

.text-brand{
  color: #111430;
}

.text-highlight{
  font-weight: 800;
}

.carousel-indicators > li {
  width: 10px;
  height: 10px;
  border-radius: 50%;
}

.slides{
  height: 350px;
}

.carousel-indicators li, .carousel-indicators li.active {
  margin: 0 7px !important;
}

.carousel-indicators li.active {
  background-color: #FBD062;
}

.formContainer{
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form{
  border: 1px solid black;
  width: 40%;
  margin-top: 10vh;
}

.formContent{
  padding: 25% 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.fireAuth{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid lightgray;
  margin-top: 2vh;
  border-radius: 20px;
  cursor: pointer;
}

.fireAuth:hover{
  background-color: lightgray;
}

.authLogo{
  width: 20%;
  margin-right: 2vw;
}

.authTitle{
  padding: 0 ;
  margin-right: 3vw;
  width: 250px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.custom-toggler.navbar-toggler {
  border-color: #111430;
} 

.btn-pending{
  background-color: #FFE3E3;
  color: #FF4545;
  border: none;
  cursor: auto !important;
  height: 70%;
  width: 50%;
  border-radius: 5px;
}

.btn-done{
  background-color: #C6FFE0;
  color: #009444;
  border: none;
  cursor: auto !important;
  height: 70%;
  width: 50%;
  border-radius: 5px;
}

.btn-onGoing{
  background-color: #FAE4BA;
  color: #FFBD3E;
  border: none;
  cursor: auto !important;
  height: 70%;
  width: 50%;
  border-radius: 5px;
}

.td{
  width: 20%;
  height: auto;
}