body{
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.btn-brand{
  background-color: #111430;
  color: #fff;
  width: 134px;
  height: 45px;
  border: none;
  border-radius: 5px;
}

.text-brand{
  color: #111430;
}

.text-highlight{
  font-weight: 800;
}